.contenedortitulo {
    background-color: #f3b2db2a;
    text-align: center;}
.titulo {
        color:rgba(137, 43, 226, 0.373);
        font-size: 50px;
    }
.alfapepitoimg {
    height: 100%;
}

.alfatrishotimg {
    height: 100%;
}

.alfamaicenaimg {
    height: 100%;
}
.alfacordobes {
    height: 100%;
}
