.hover {
    background-color: #f3b2db;}
  

  .inicio, a:hover {
    background-color: #f3b2db;
    text-decoration: none;
}
.alfajores, a:hover {
    background-color: #f3b2db;
    text-decoration: none;
}
.tortas, a:hover {
    background-color: #f3b2db;
    text-decoration: none;
}
.quiensoy, a:hover {
    background-color: #f3b2db;
    text-decoration: none;
}
.contacto, a:hover {
    background-color: #f3b2db;
    text-decoration: none;
}

