.cajaalfajores {
  .alfapepitoimg {
    height: 100%;
}

  .alfatrishotimg {
    height: 100%;
}

  .alfamaicenaimg {
    height: 100%;
}

 .cajaalfacordobes {
    .alfacordobes {
        height: 100%;
    }
}
}