/*header {
    margin: 0;
    padding: 0;
    font-family: "Bodoni Moda", serif;
    box-sizing: border-box;

 .inicio, a:hover {
    background-color: $thirdColor;
    text-decoration: none;
}
 .alfajores, a:hover {
    background-color: $thirdColor;
    text-decoration: none;
}
 .tortas, a:hover {
    background-color: $thirdColor;
    text-decoration: none;
}
 .quiensoy, a:hover {
    background-color: $thirdColor;
    text-decoration: none;
}
 .contacto, a:hover {
    background-color: $thirdColor;
    text-decoration: none;
}
}