.contenedortitulo {
    background-color: #f3b2db2a;
    text-align: center;

    .titulo {
        color:rgba(137, 43, 226, 0.373);
        font-size: 50px;
    }
}

.contenedortituloppal {
    background-color: #f3b2db2a;
    text-align: center;

 .slogan {
    color: black;
}
}
.tituloindex {
    color: rgba(137, 43, 226, 0.373);}
.navbarfooter {
 .inicio, a:hover {
        background-color: #f3b2db;
        text-decoration: none;
    }
    
 .alfajores, a:hover {
        background-color: #f3b2db;
        text-decoration: none;
    }
    
 .tortas, a:hover {
        background-color: #f3b2db;
        text-decoration: none;
    
    }
 .quiensoy, a:hover {
        background-color: #f3b2db;
        text-decoration: none;
    
    }
    
 .contacto, a:hover {
        background-color: #f3b2db;
        text-decoration: none;
    }
}
