.contenedortitulo {
    background-color: #f3b2db2a;
    text-align: center;}
.titulo {
        color:rgba(137, 43, 226, 0.373);
        font-size: 50px;
    }
.carrotcakeimg {
    height: 100%;
}
.matildaimg {
    height: 100%;
}
.redvelvetimg {
    height: 100%;
}
