@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

$fontBodoni: "Bodoni Moda", serif;
$mainColor: #f3b2db2a;  
$secondaryColor: rgba(137, 43, 226, 0.373);